{% extends 'base.html' %}

{% block tituloPagina %} compras {% endblock %}

{% block contenido %}
            <h1 class="box">Compra de criptos</h1>

            <form action="/purchase">
                <div class="campo-formulario">
                    <label for="from">From:</label>
                    <select name="from" id="fromOption">
                        <option>Bitcion (BTC)</option>
                        <option>Ethereum (ETH)</option>
                        <option selected>Euro (€)</option>
                        <option>Bitcoin Cash (BCC / BCH)</option>
                        <option>Ripple (XRP)</option>
                        <option>Dollar ($)</option>
                    </select>
                    <label for="to">To:</label>
                    <select name="to" id="toOption">
                        <option selected>Bitcion (BTC)</option>
                        <option>Ethereum (ETH)</option>
                        <option>Euro (€)</option>
                        <option >Bitcoin Cash (BCC / BCH)</option>
                        <option>Ripple (XRP)</option>
                    </select>
                    <label for="cantidad">Quantity from:</label>
                    <input type="text" name="cantidad" id="cantidad" >
                    <button class="rounded-button"><img src="static/img/70px.png"></button>
                    <label for="cantidad">Quantity to:</label>
                    <input type="text" name="cantidad" id="cantidad" > 
                    <label for="preciUnitario">P.U:</label>
                    <label type="text" name="preciUnitario" id="preciUnitario"></label>
                </div> 

                <button class="rounded-button" id="cruz"><img src="static/img/cruz 70px.png"></button>
                <button class="rounded-button" id="tick"><img src="static/img/tick 70 casi.png"></button>
                
                
            </form>

{% endblock %}