{% extends 'base.html' %}

{% block tituloPagina %} compras {% endblock %}

{% block contenido %}
            <h1 class="box">Compra de criptos</h1>

            <form action="/purchase" method="POST">
                {{ formulario.hidden_tag() }}
                <div class="campo-formulario">
                    <label for="from">From:</label>
                    {{ formulario.coinFrom }}
                    {% for error in formulario.coinFrom.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}

                    <label for="to">To:</label>
                    {{ formulario.coinTo }}
                    {{ formulario.cantFrom.label() }}
                    {{ formulario.cantFrom(placeholder="Ingrese una cantidad") }}

                    {% for error in formulario.cantFrom.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}

                    <button class="rounded-button"><img src="static/img/70px.png">{{ formulario.calcular() }}</button>

                    <label for="cantidad">Quantity to:</label>{{ formulario.cantTo.data }}
                    {{ formulario.cantToH() }}
                    <label type="text" name="cantidad" id="cantidad" ></label> 

                    <label for="preciUnitario">P.U:</label>
                    <label type="text" name="precioUnitario" id="preciUnitario">{{ formulario.pu.data }}</label>
                    
                    {{ formulario.puH() }}
                    {{ formulario.date() }}
                    {{ formulario.time() }}
                </div> 

                {{ formulario.aceptar() }}                
                
            </form>

{% endblock %}