{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
            <h1 class="box">Movimientos</h1>
            {% if items | length == 0 %}
                <p class="primerMov">Introduce tu primer movimiento</p>
            {% else %}
                <table class="paper">
                    <tr>
                        <!--th >Id </th-->
                        <th >Fecha</th>
                        <th >Hora</th>
                        <th >coinFrom</th>
                        <th >CantFrom</th>
                        <th >coinTo</th>
                        <th >CantTo</th>
                        <th >Pu</th>
                        <th></th>
                    </tr>
                    {% for item in items %}
                    <tr >
                        <!--td>{{ item.id }} </td-->
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.hora }}</td>
                        <td>{{ item.coinFrom }}</td>
                        <td>{{ item.cantFrom }} €</td>
                        <td>{{ item.coinTo }}</td>
                        <td>{{ item.cantTo }} €</td>
                        <td>{{ item.Pu}} €</td>
                    </tr>


                    {% endfor %}
                </table>
            <button class="Status" formaction="/status" method="POST">Status</button>
            <button class="plus" formaction="/purchase" method="POST">+</button>    

            {% endif %}
{% endblock %}